<header class="flex justify-between items-center py-3 w-[1120px]">
    <img
        src="https://i.pinimg.com/736x/d9/20/be/d920beb65bf3d8aa02df63371f122815.jpg"
        class="rounded-full w-6 h-6"
        alt="jonathan photo"
    />
    <nav class="flex flex-row gap-x-10">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Projects</a>
    </nav>
</header>
